@use '../custom' as *;
@use '../components/mixins' as *;
.menu{
    background-color: $primary;
   
   
    a{
        font-size: 12px;
        padding-right: 20px;
        color:$white !important;
        font-weight:300;
    }
    svg{
        position: absolute;
        top:7px;
        left: 5px;
     
    }
}



.signIn{
    position:relative;
    top: 0rem;
   left: 10rem;

}
